 .list-box {

     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 1px;
     width: 100%;
 }

 .list-1 {

     text-align: center;
     line-height: 30px;
 }